body {
	margin: 0px;
	background-color: #316879;
	font-family: Arial, sans-serif;
}

.page { display: none; }
    
.active { display: block; }

#menu {
	border: 5px solid #224854;
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 10px auto;
	margin-bottom: 20px;
 	align-items: center;
	padding: 10px;
	border-radius: 20px;
	background-color: #316879;
	justify-content: center; /* <-- Ajoute cette ligne */
}

#menu button {
      margin: 5px;
      padding: 10px 20px;
      font-size: 1em;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;           /* <-- Ajoute cette ligne */
      box-sizing: border-box; /* <-- Ajoute cette ligne pour inclure le padding */
}

h1 {
	font-family: Courier;
	font-size: 3em;
	text-align: center;
	color: #ed3572;
}

h2 {
	font-family: Courier;
	font-size: 1.6em;
	text-align: center;
	color: white;
}

h3 {
	font-family: Courier;
	font-size: 1.3em;
	text-align: center;
	color: white;
}

.container {
	border: 5px solid #224854;
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 20px;
	background-color: #316879;
}

.container button {
	margin: 5px;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 8px;
	cursor: pointer;
}

.container label {
	margin-bottom: 10px;
	font-family: 'Courier';
	color: white;
	margin: 5px;
}

.container input {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid #ccc;
}	

/* Styles des boutons d'action */
.btn-action {
    width: 32px; 
    height: 32px;
    border: none;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin: 0 5px;
	padding: 5px;
}

/* Bouton Modifier */
.btn-modifier {
    background-image: url('ico/modifier.png');
}

/* Bouton Supprimer */
.btn-supprimer {
    background-image: url('ico/supprimer.png'); 
}

.btn-back {
    width: 48px; 
    height: 48px;
    background-image: url('ico/home.png');
    background-color: lightgray;
    border-radius: 10px;
	border: 5px solid #224854;
}

td button {
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	height: 15px;
	border: 0px;
	background-color: transparent;
	/*font-size: 0.5em;*/
}

label{
	padding: 3px;
	font-family: Courier;
	font-size: 1em;
}

input {
	padding: 3px;
}

caption {
	font-family: Courier;
	font-size: 2em;
	font-weight: bold;
	margin: 5px;
	color: white;
}

.table-container {
	border: 5px solid #224854;
	display: flex;
	flex-direction: column;
	/* max-width: 500px; */
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 20px;
	background-color: #316879;
}

table {
    margin:auto;
    width: 90vw;
    border-collapse: collapse; /* Supprime les espaces entre les bordures */
    table-layout: fixed;
}

th, td {
    border: 1px #224854 solid;
    padding: 2px;
    text-align: center;
    font-family: Courier;
}

th {
    font-size: 1.1em;
    font-weight: bold;
    background-color: #f47a60;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

tr:hover{
	background-color: #7fe7dc;
}

th input[type="text"], th input[type="date"] {
    width: 70px; /* Largeur fixe */
}